# Inserindo os dados no banco

- Os dados capturados estão presentes na plataforma Kaggle. (https://www.kaggle.com/aayushmishra1512/twitchdata)
- O dataset contém os principais canais da Twitch. Esses dados consistem em coisas diferentes, como número de visualizadores, número de visualizadores ativos, seguidores ganhos e muitas outras colunas relevantes sobre um determinado streamer. Possui 11 colunas diferentes com todas as informações necessárias.

In [1]:
# Fazendo os imports necessários

import psycopg2 as db
import pandas as pd

In [2]:
# Capturando o csv

dataframe = pd.read_csv('../data/twitchdata.csv')
dataframe.head()

,Channel,Watch time(Minutes),Stream time(minutes),Peak viewers,Average viewers,Followers,Followers gained,Views gained,Partnered,Mature,Language
0,xQcOW,6196161750,215250,222720,27716,3246298,1734810,93036735,True,False,English
1,summit1g,6091677300,211845,310998,25610,5310163,1370184,89705964,True,False,English
2,Gaules,5644590915,515280,387315,10976,1767635,1023779,102611607,True,True,Portuguese
3,ESL_CSGO,3970318140,517740,300575,7714,3944850,703986,106546942,True,False,English
4,Tfue,3671000070,123660,285644,29602,8938903,2068424,78998587,True,False,English

In [37]:
# Conectando com o banco

#Step 1 - Definição da string de conexão
conn_string = "dbname= 'postgres' host= 'localhost' user='postgres' password= 'admin'"

#Step 2 - chamada para a conexão com o banco
conn=db.connect(conn_string)

#Step 3 - Criação de cursor
cur=conn.cursor()

In [38]:
# Query para adicionar no banco de dados

query = "INSERT INTO dsp_sauter.twitchdata (channel,watch_time,stream_time,peak_viewrs,average_viewers,followers,followers_gained,views_gained,partnered,mature,lang) VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"

In [39]:
data_list = [list(row) for row in dataframe.itertuples(index=False)]

In [40]:
cur.executemany(query,data_list)
conn.commit()